@page "/counter"
@using AntDesign;
@using BlazorApp2.Models;

@*<p>standard dropdown</p>
<StandardDropDownComponent Data="_selectNames" CurrentValue="one" OnSelectedItemChanged="StandardDropDownChange"></StandardDropDownComponent>*@


<br/>
<br/>
<br/>

@if (_selectedItem != null)
{
    <p>Antd dropdown using Select component</p>
    <SelectComponent Data="_selectNames" CurrentValue="@_selectedItem?.Id" OnItemClick="StandardDropDownChange"></SelectComponent>
}

@*<DropDownComponent Data="@_dropItems" ButtonCaption="Cick me" OnItemClick="DropDownClick"></DropDownComponent>*@


<br/>
<b/>
<br/>
<br/>
<br/>

@if (_testVisible)
{
    <p>Changed: @_changedCounter</p>
    <p>@_selectedItem?.Description</p>
}

@code {
    private SelectModel? _selectedItem = new SelectModel();
    private int _changedCounter = 0;
    private bool _testVisible = false;

    private IEnumerable<DropDownModel> _dropItems = new List<DropDownModel>
    {
        new DropDownModel
        {
            Id = "1",
            Description = "test"
        },
        new DropDownModel
        {
            Divider = true
        },
        new DropDownModel
        {
            Id = "2",
            Description = "Two",
            Disabled = false
        }
    };

    private IEnumerable<SelectModel> _selectNames = new List<SelectModel>
    {
        new SelectModel
        {
            Id = "one",
            Description = "name one",
            Disabled = false
        },
        new SelectModel
        {
            Id = "two",
            Description = "name two",
            Disabled = false
        },
        new SelectModel
        {
            Divider = true
        },
        new SelectModel
        {
            Id = "three",
            Description = "name three"
        }
    };

    private void StandardDropDownChange(SelectModel model)
    {
        _selectedItem = model;
        _testVisible = true;
        _changedCounter++;
        //_selectedItem.Id = "one";
    }

    private void DropDownClick(DropDownModel model)
    {

    }

    protected override void OnInitialized()
    {
        _selectedItem = _selectNames.FirstOrDefault(m => m.Id.Equals("one"));
    }
}
