@page "/counter"
@using AntDesign;
@using BlazorApp2.Models;

@*<p>standard dropdown</p>
<StandardDropDownComponent Data="_selectNames" CurrentValue="two" OnSelectedItemChanged="StandardDropDownChange"></StandardDropDownComponent>*@
@*<p>@_selectedItem.Name</p>*@


<p>Antd dropdown using Select component</p>
<SelectDetailComponent Data="_selectNames" CurrentValue="two" OnSelectedItem="StandardDropDownChange"></SelectDetailComponent>
@*<TestSelect></TestSelect>*@

@code {
    private SelectModel _selectedItem = new SelectModel();

    private IEnumerable<SelectModel> _selectNames = new List<SelectModel>
    {
        new SelectModel
        {
            Id = "one",
            Name = "name one",
            Disabled = false
        },
        new SelectModel
        {
            Id = "two",
            Name = "name two",
            Disabled = false
        },
        new SelectModel
        {
            Divider = true
        },
        new SelectModel
        {
            Id = "three",
            Name = "name three"
        }
    };

    private void StandardDropDownChange(SelectModel model)
    {
        _selectedItem = model;
    }
}
