@using BlazorApp2.Services;

<h3>Autocomplete Demo</h3>
<div class="autocomplete">
    <input @bind=_selectedOption @oninput=DoOnInputCallBack @onkeyup="OnKeyUp" class="ant-input" />
    @if (OptionList != null && OptionList.Any())
    {
        <ul class="options">
            @foreach (var option in OptionList)
            {
                <li class="option">
                    <span class="option-text" @onclick=@(_ => DoOnSelectedOptionCallback(option))>@option</span>
                </li>
            }
        </ul>
    }
</div>